<div class="flex flex-col items-center mx-auto my-64 border-4 border-black rounded-3xl p-10 w-80 bg-indigo-100 shadow-2xl">
  <h1 class="text-5xl pb-8 font-bold">{{counter$ | async}}</h1>
  <div class="flex gap-3">
    <button (click)="onDecrement()" class="text-white bg-blue-500 border-blue-500 hover:bg-blue-700 border-2 rounded font-bold p-2">Decrement</button>
    <button (click)="onReset()" class="text-white border-2 rounded bg-red-500 border-red-500 hover:bg-red-700 font-bold p-2">Reset</button>
    <button (click)="onIncrement()" class="text-white border-2 rounded bg-green-500 border-green-500 hover:bg-green-700 font-bold p-2">Increment</button>
  </div>
</div>